<div class="container align-items-center">
  <div class="message-container">
    <h3 class="text-align-center text-primary">
      Não deu tempo de terminar e nem de te mandar antes...
      Sei que conversamos há algumas horas atrás mas queria concluir o que estava planejando pra você:
    </h3>
    <h3 class="text-align-center text-primary">
      Quero deixar pra você essa oração do profeta ;)
    </h3>
  </div>


  <div class="message-container">
    <p>
      <b>59</b>
      Nosso Pai Celestial, estamos tão agradecidos hoje por Ti aqui nesta era
      moderna; na era dos automóveis, aviões, jatos, foguetes, e toda classe de ciência:
      telefone, televisão, e modernas armas atômicas, e assim por diante. Tu ainda és
      o Deus supremo, poderoso, onipotente, onisciente, que criou os céus e a terra e
      desenhou o firmamento. Deus, não podemos explicar isto. Não podemos explicar
      isto. Tão pouco podemos explicar porque o firmamento não tem fim; como
      pode o mundo dar voltas e tão perfeitamente até ao ponto em que eles podem
      prever um eclipse do sol vinte anos antes de vir - porque Tua maquinaria
      trabalha perfeitamente. Nós não podemos fabricar um peça de maquinário que
      seja precisa. Oh, porém grande Jeová que mantém a esta terra no espaço, és
      perfeito. Te amamos, e todas as Tuas obras são justas e corretas. Nós nos
      submetemos a Ti nesta manhã, ao começar este novo ano, e Te pedimos que
      enchas a todos com o Espírito Santo, Senhor, e nos aproximes mais de Ti; e que
      Teus eternos braços nos acolham e nos guardem, Senhor, porque o dia é de escuridão e tremor, mas a Estrela da
      Manhã está dirigindo o caminho. Te
      seguiremos. Onde Ele me levar, lhe seguirei. Se for através das águas, através
      de inundações, em grandes provas, que tudo seja através do Sangue.
    </p>
    <br>
    <p>
      <b>60</b>
      Oh, Deus, guia-nos por Tua mão eterna até que finalmente seja obtida a
      vitória e Jesus regresse à terra. Pecado, a enfermidade e a angústia não serão
      mais, e nós viveremos este glorioso Milênio Contigo. Estamos esperando por
      esse grande dia. Vem, Senhor Jesus, a Tua Palavra hoje. Entra a ela. Circuncida
      os lábios que falam e os ouvidos que escutam. E que a semente caia no coração
      onde o Espírito Santo a cultivará e produzirá cem por um. Te pedimos no Nome
      de Jesus. Amém.
    </p>
    <br>
    <p>
      VÉU A DENTRO<br>
      William M. Branham<br>
      1 de Janeiro 1956<br>
      Jeffersonville - Indiana - U.S.A<br>
      Tradução - GO</p>
    <br>
  </div>
</div>